* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(241, 234, 225);
}

.menu-inicial{
    position: fixed;
    width: 100%;
    height: 7vh;
    background-color: #ffffff;
}

.menu-inicial-div{
    width: 100%;
    height: 7vh;
    background-color: #ffffff9f;
}

.menu-inicial-nome{
    font-size: 25px;
    font-family: arial;
}